---
import '../styles/global.css'
const pageTitle = "About Page"
const person = {
  name: "Emmanuel",
  country: "Argentina",
  age: 19,
  hobbies: ['Nadar', "Gym", "Programming"]
}
const skills = ['leer', 'hablar', 'electronica', 'saltar']

const number = 1;
const color = "red"
const size = "50px"
const colorP = "purple"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <nav class="flex gap-2">
        
            <a href="/">inicio</a>
            <a href="/about">about</a>
            <a href="/blog">blog</a>

        
    </nav>
    <h1>{pageTitle}</h1>
    <p>aca algunos datos sobre mi</p>
    <ul>
      <li>me llamo {person.name}</li>
      <li>mi edad es {person.age}</li>
      <li>vivo en {person.country} </li>
      <li> y mis hobies son: </li>
      <ul>
        { person.hobbies.length >= 1 && person.hobbies.map((hobbie) => <li class="skill">{hobbie}</li>)}
      </ul>
    </ul>
    {number >= 8 ? <p>tengo mas de 8</p> : <p>tengo menos de 8</p>}

  </body>
</html>
<style define:vars={{color,size,colorP}}>
  h1{
    color: var(--colorP);
    font-size: var(--size)
  }
  .skill{
    color: var(--color);
  }
</style>